<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- JQuery -->
<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>
<!-- Bootstrap -->
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
<!-- Myself Javascript & CSS -->
<link rel="stylesheet" th:href="@{/assets/manager.css}" />
<script type="text/javascript" th:src="@{/assets/mamager.js}"></script>

<title>Templates Page</title>

</head>

<body>

</body>
</html>