<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- JQuery -->
<!--  
<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.js}"></script>
-->
<!-- UMeditor -->
<link th:href="@{/umeditor/themes/default/css/umeditor.css}" type="text/css" rel="stylesheet">
<script type="text/javascript" th:src="@{/umeditor/third-party/jquery.min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/umeditor/umeditor.config.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/umeditor/umeditor.min.js}"></script>
<script type="text/javascript" th:src="@{/umeditor/lang/zh-cn/zh-cn.js}"></script>
<!-- Bootstrap -->
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<!-- Myself Javascript & CSS -->
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<link rel="stylesheet" th:href="@{/assets/manager.css}" />
<!--  
<script type="text/javascript" th:src="@{/jquery/jquerySession.js}"></script>
-->
<!-- UMeditor -->
<link rel="stylesheet" th:href="@{/assets/cncl_umeditor.css}" />

<title>编辑名人库</title>

<script type="text/javascript">
	$(function() {
		// 获取编辑信息
		getCelebrity();
	});

	function getCelebrity() {
		$.ajax({
			type : "GET",
			url : "/ClelebritysCtl/getCelebrityById",
			async : false,
			cache : false,
			dataType : "json",
			success : function(data) {
				if (null != data.celebrityId || "" != data.celebrityId) {
					$("#celebrityId").val(data.celebrityId);
					$("#celebrityName").val(data.celebrityName);
					$("#anotherName").val(data.anotherName);
					$("#foreignName").val(data.foreignName);
					$("#nationality").val(data.nationality);
					$("#birthplace").val(data.birthplace);
					$("#nativePlace").val(data.nativePlace);
					$("#ancestralHome").val(data.ancestralHome);
					$("#nation").val(data.nation);
					$("#constellation").val(data.constellation);
					$("#bloodType").val(data.bloodType);
					$("#height").val(data.height);
					$("#identityCard").val(data.identityCard);
					$("#certificateCode").val(data.certificateCode);
					$("#certificateName").val(data.certificateName);
					$("#company").val(data.company);
					$("#profession").val(data.profession);
					$("#imageIdFk").val(data.imageIdFk);
					//$("#deathday").val(data.deathday);
					$("#achievement").val(data.achievement);
					$("#representativeName").val(data.representativeName);
					um.execCommand('insertHtml', data.introduce)

					var birthday = new Date(data.birthday);
					var birthday_day = ("0" + birthday.getDate()).slice(-2);
					var birthday_month = ("0" + (birthday.getMonth() + 1))
							.slice(-2);
					var birthday_today = birthday.getFullYear() + "-"
							+ (birthday_month) + "-" + (birthday_day);
					$("#birthday").val(birthday_today);

					var deathday = new Date(data.deathday);
					var deathday_day = ("0" + deathday.getDate()).slice(-2);
					var deathday_month = ("0" + (deathday.getMonth() + 1))
							.slice(-2);
					var deathday_today = deathday.getFullYear() + "-"
							+ (deathday_month) + "-" + (deathday_day);
					$("#deathday").val(deathday_today);

				}
			}
		});
	}
</script>

</head>

<body>

	<div class="row">

		<div id="left" class="col-lg-2 col-md-2 col-sm-2">
			<img th:src="@{/images/m_left.png}" />
		</div>
		<!-- left end -->

		<div id="middle" class="col-lg-8 col-md-8 col-sm-8">

			<div class="related container">

				<!-- Title -->
				<div class="col-lg-11">
					<h3>名人信息编辑</h3>
				</div>

				<div class="col-lg-12">
					<label for="" class="col-sm-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				</div>

				<form th:action="@{/ClelebritysCtl/editCelebritys}" class="form-horizontal" method="get" enctype="multipart/form-data">

					<div class="col-lg-12">
						<h4>人物详情</h4>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="celebrityName" class="col-sm-3 control-label">名称</label>
							<div class="col-sm-9">
								<input type="text" id="celebrityId" name="celebrityId" hidden="true">
								<!--  -->
								<input type="text" class="form-control" id="celebrityName" name="celebrityName" placeholder="名人名称...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="anotherName" class="col-sm-3 control-label">别称</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="anotherName" name="anotherName" placeholder="别称...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="foreignName" class="col-sm-3 control-label">外文名称</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="foreignName" name="foreignName" placeholder="外文名称...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="nationality" class="col-sm-3 control-label">国籍</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nationality" name="nationality" placeholder="国籍...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="birthplace" class="col-sm-3 control-label">出生地</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="birthplace" name="birthplace" placeholder="出生地...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="nativePlace" class="col-sm-3 control-label">籍贯</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nativePlace" name="nativePlace" placeholder="籍贯...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="ancestralHome" class="col-sm-3 control-label">祖籍</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="ancestralHome" name="ancestralHome" placeholder="祖籍...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="nation" class="col-sm-3 control-label">民族</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nation" name="nation" placeholder="民族...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="constellation" class="col-sm-3 control-label">星座</label>
							<div class="col-sm-9">
								<select class="form-control" id="constellation" name="constellation">
									<option>白羊座</option>
									<option>金牛座</option>
									<option>双子座</option>
									<option>巨蟹座</option>
									<option>狮子座</option>
									<option>处女座</option>
									<option>天平座</option>
									<option>天蝎座</option>
									<option>射手座</option>
									<option>摩羯座</option>
									<option>水平座</option>
									<option>双鱼座</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="bloodType" class="col-sm-3 control-label">血型</label>
							<div class="col-sm-9">
								<select class="form-control" id="bloodType" name="bloodType">
									<option>A</option>
									<option>B</option>
									<option>AB</option>
									<option>O</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="height" class="col-sm-3 control-label">身高</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="height" name="height" placeholder="身高...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="identityCard" class="col-sm-3 control-label">身份证</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="identityCard" name="identityCard" placeholder="身份证...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="certificateCode" class="col-sm-3 control-label">证书编号</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="certificateCode" name="certificateCode" placeholder="证书编号...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="certificateName" class="col-sm-3 control-label">证书名称</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="certificateName" name="certificateName" placeholder="证书名称...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="company" class="col-sm-3 control-label">公司</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="company" name="company" placeholder="公司...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="profession" class="col-sm-3 control-label">职业</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="profession" name="profession" placeholder="职业...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="birthday" class="col-sm-3 control-label">出生日期</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" id="birthday" name="birthday" placeholder="yyyy-MM-dd">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="deathday" class="col-sm-3 control-label">逝世日期</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" id="deathday" name="deathday" placeholder="yyyy-MM-dd">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="achievement" class="col-sm-3 control-label">主要成就</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="achievement" name="achievement" placeholder="《成就1》，《成就2》...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="representativeName" class="col-sm-3 control-label">代表作品</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="representativeName" name="representativeName" placeholder="《作品1》,《作品2》...">
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="imageIdFk" class="col-sm-3 control-label">标题图片</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="imageIdFk" name="imageIdFk" placeholder="图片ID">
							</div>
						</div>
					</div>

					<!--  
					<div class="col-lg-6">
						<div class="form-group">
							<label for="imageIdFk" class="col-sm-3 control-label">示例</label>
							<div class="col-sm-9">
								<img th:src="@{/images/example.gif}" alt="示例" class="img-thumbnail">
							</div>
						</div>
					</div>
					-->
					<div class="col-lg-12">
						<h4>编辑内容</h4>
					</div>

					<div class="col-lg-12">
						<label for="" class="col-sm-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					</div>

					<div class="col-lg-12">
						<!--style给定宽度可以影响编辑器的最终宽度-->
						<script type="text/plain" id="myEditor" name="introduce" style="width: 95%; height: 400px;"><p>这里我可以写一些输入提示</p></script>
					</div>

					<div class="col-lg-12">
						<label for="" class="col-sm-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					</div>

					<div class="col-lg-12">
						<button type="submit" class="btn btn-default">保存</button>
					</div>

					<div class="col-lg-12">
						<label for="" class="col-sm-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					</div>

				</form>
				<!-- form end -->
			</div>
		</div>

		<div id="right" class="col-lg-1 col-md-1 col-sm-1">
			<img th:src="@{/images/m_left.png}" />
		</div>
		<!-- right end -->

	</div>
	<!-- <div class="row"> end -->

	<!--
	<div class="clear">
		<button class="btn" unselected="on" onclick="getAllHtml()">获得整个html的内容</button>
		&nbsp;
		<button class="btn" onclick="getContent()">获得内容</button>
		&nbsp;
		<button class="btn" onclick="setContent()">写入内容</button>
		&nbsp;
		<button class="btn" onclick="setContent(true)">追加内容</button>
		&nbsp;
		<button class="btn" onclick="getContentTxt()">获得纯文本</button>
		&nbsp;
		<button class="btn" onclick="getPlainTxt()">获得带格式的纯文本</button>
		&nbsp;
		<button class="btn" onclick="hasContent()">判断是否有内容</button>

		<button class="btn" onclick="setFocus()">编辑器获得焦点</button>
		&nbsp;
		<button class="btn" onmousedown="isFocus();return false;">编辑器是否获得焦点</button>
		&nbsp;
		<button class="btn" onclick="doBlur()">编辑器取消焦点</button>
		&nbsp;
		<button class="btn" onclick="insertHtml()">插入给定的内容</button>
		&nbsp;
		<button class="btn" onclick="getContentTxt()">获得纯文本</button>
		&nbsp;
		<button class="btn" id="enable" onclick="setEnabled()">可以编辑</button>
		&nbsp;
		<button class="btn" onclick="setDisabled()">不可编辑</button>

		<button class="btn" onclick="UM.getEditor('myEditor').setHide()">隐藏编辑器</button>
		&nbsp;
		<button class="btn" onclick="UM.getEditor('myEditor').setShow()">显示编辑器</button>
		&nbsp;
		<button class="btn" onclick="UM.getEditor('myEditor').setHeight(300)">设置编辑器的高度为300</button>
		&nbsp;
		<button class="btn" onclick="UM.getEditor('myEditor').setWidth(1200)">设置编辑器的宽度为1200</button>

		<button class="btn" onclick="createEditor()" />
		创建编辑器
		</button>
		<button class="btn" onclick="deleteEditor()" />
		删除编辑器
		</button>

		<h3 id="focush2"></h3>
	</div>
	  -->
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('myEditor');
		um.addListener('blur', function() {
			$('#focush2').html('编辑器失去焦点了')
		});
		um.addListener('focus', function() {
			$('#focush2').html('')
		});
		//按钮的操作
		function insertHtml() {
			var value = prompt('插入html代码', '');
			um.execCommand('insertHtml', value)
		}
		function isFocus() {
			alert(um.isFocus())
		}
		function doBlur() {
			um.blur()
		}
		function createEditor() {
			enableBtn();
			um = UM.getEditor('myEditor');
		}
		function getAllHtml() {
			alert(UM.getEditor('myEditor').getAllHtml())
		}
		function getContent() {
			var arr = [];
			arr.push("使用editor.getContent()方法可以获得编辑器的内容");
			arr.push("内容为：");
			arr.push(UM.getEditor('myEditor').getContent());
			alert(arr.join("\n"));
		}
		function getPlainTxt() {
			var arr = [];
			arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
			arr.push("内容为：");
			arr.push(UM.getEditor('myEditor').getPlainTxt());
			alert(arr.join('\n'))
		}
		function setContent(isAppendTo) {
			var arr = [];
			arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");
			UM.getEditor('myEditor').setContent('欢迎使用umeditor', isAppendTo);
			alert(arr.join("\n"));
		}
		function setDisabled() {
			UM.getEditor('myEditor').setDisabled('fullscreen');
			disableBtn("enable");
		}

		function setEnabled() {
			UM.getEditor('myEditor').setEnabled();
			enableBtn();
		}

		function getText() {
			//当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
			var range = UM.getEditor('myEditor').selection.getRange();
			range.select();
			var txt = UM.getEditor('myEditor').selection.getText();
			alert(txt)
		}

		function getContentTxt() {
			var arr = [];
			arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
			arr.push("编辑器的纯文本内容为：");
			arr.push(UM.getEditor('myEditor').getContentTxt());
			alert(arr.join("\n"));
		}
		function hasContent() {
			var arr = [];
			arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
			arr.push("判断结果为：");
			arr.push(UM.getEditor('myEditor').hasContents());
			alert(arr.join("\n"));
		}
		function setFocus() {
			UM.getEditor('myEditor').focus();
		}
		function deleteEditor() {
			disableBtn();
			UM.getEditor('myEditor').destroy();
		}
		function disableBtn(str) {
			var div = document.getElementById('btns');
			var btns = domUtils.getElementsByTagName(div, "button");
			for (var i = 0, btn; btn = btns[i++];) {
				if (btn.id == str) {
					domUtils.removeAttributes(btn, [ "disabled" ]);
				} else {
					btn.setAttribute("disabled", "true");
				}
			}
		}
		function enableBtn() {
			var div = document.getElementById('btns');
			var btns = domUtils.getElementsByTagName(div, "button");
			for (var i = 0, btn; btn = btns[i++];) {
				domUtils.removeAttributes(btn, [ "disabled" ]);
			}
		}
	</script>
</body>
</html>