<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.cncl.mapper.CooperationMapper">

	<resultMap id="BaseResultMap" type="cn.net.cncl.entity.Cooperation">
		<id column="COOPERATION_ID" jdbcType="BIGINT" property="cooperationId" />
		<result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
	</resultMap>

	<sql id="Base_Column_List">
		COOPERATION_ID AS cooperationId,
		CONTENT AS content
	</sql>

	<select id="selectCoperation" resultType="cn.net.cncl.entity.Cooperation">
		select
		<include refid="Base_Column_List" />
		from t_cooperation
	</select>

	<select id="selectCoperationById" parameterType="java.lang.Long" resultType="cn.net.cncl.entity.Cooperation">
		select
		<include refid="Base_Column_List" />
		from t_cooperation
		where COOPERATION_ID = #{cooperationId,jdbcType=BIGINT}
	</select>

	<insert id="insertCoperation" parameterType="cn.net.cncl.entity.Cooperation">
		insert into t_cooperation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cooperationId != null">
				COOPERATION_ID,
			</if>
			<if test="content != null">
				CONTENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cooperationId != null">
				#{cooperationId,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateCoperation" parameterType="cn.net.cncl.entity.Cooperation">
		update t_cooperation
		<set>
			<if test="content != null">
				CONTENT = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where COOPERATION_ID = #{cooperationId,jdbcType=BIGINT}
	</update>

</mapper>